body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-yellowbg{ 
box-sizing: border-box;
border: 1px solid black;
background-color: #fbec5d;
width: 20%;
height: 25%;
padding: 5px;
}

.card-darkyellow{ 
box-sizing: border-box;
border: 1px solid black;
background-color:  #becc41;
width: 20%;
height: 25%;
padding: 5px;
}

.card { 
 box-sizing: border-box;
border: 1px solid black;
background-color:  white;
width: 20%;
height: 25%;
padding: 5px;
}



.top-section { 
  padding: 5px;
  margin: 0;
  padding: 15px;
}


.title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.title-card3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}



h1 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

p {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.redbg{
  padding: 0;
  margin: 0;
  font-size: 10px;
 background-color:  #ea213a;
}


 .middle-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}

.number {
  font-weight: bold;
  font-size: 25px;
} 

.bottom-section {
margin: 0;
padding-right: 50%;
padding-top: 10px;
padding-left: 20px;
display: flex;
justify-content: space-between
}



